<settings>
  <altnicks>
    <altnick>AntiSpamMeta_</altnick>
    <altnick>AntiSpamMeta2</altnick>
  </altnicks>
  <autojoins>
    <autojoin>#antispammeta</autojoin>
  </autojoins>
  <debugchan>#antispammeta-debug</debugchan>
  <log>
    <actiondir>actionlogs/</actiondir>
    <dir>logs/</dir>
    <filefmt>-%Y-%m-%d.log</filefmt>
    <timefmt>%Y-%m-%d %T </timefmt>
    <zone>GMT</zone>
  </log>
  <masterchan>#antispammeta</masterchan>
  <nick>AntiSpamMeta</nick>
  <pass></pass>
  <port>6667</port>
  <realname>I am a new AntiSpamBot in the making.</realname>
  <server>
    <host>irc.freenode.net</host>
  </server>
  <username>MetaBot</username>
  <web>
    <groupfile>/var/www/.htgroup</groupfile>
    <userfile>/var/www/.htpasswd</userfile>
  </web>
</settings>
