AuthType Basic
AuthName "Restricted Files"
AuthUserFile /home/icxcnika/AntiSpamMeta/HTTP_ACCESS_USER
AuthGroupFile /home/icxcnika/AntiSpamMeta/HTTP_ACCESS_GROUP
Require group actionlogs
#Require user icxcnika
